django
beautifulsoup4
django-autoslug
django-cleanup
django-model-utils
pillow
pytils
xhtml2pdf
#django-debug-toolbar
#ipython
-e hg+https://hg@bitbucket.org/izi/django-admin-tools#egg=django-admin-tools