{% load price_template_tags %}
<html>
<head lang="ru">
    <title>Dudud</title>
    <style>
        @font-face {
            font-family: DejaMono;
            src: url('{% get_font_path %}');
        }
        * {
            font-family: DejaMono !important;
        }
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }
        th, td {
            padding: 3px 5px 0;
            text-align: center;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h4>{{ title }}</h4>
    {{ table|safe }}
</body>
</html>