{% extends 'catalog/base.html' %}

{% block page_css %}
{#    <link rel="stylesheet" href="{{ STATIC_URL }}catalog/css/home.css"/>#}
{% endblock %}

{% block page_js %}
{#    <script src="{{ STATIC_URL }}catalog/js/home.js"></script>#}
{% endblock %}

{% block content %}
    <h1>Category page</h1>
    <h2>{{ category.title }}</h2>

    <h4>Прайсы</h4>
    <ul>
        {% for price in category.prices.all %}
            <a href="{% url 'catalog:price' price.pk %}">{{ price.title }}</a>
        {% endfor %}
    </ul>

{% endblock %}