{% extends 'catalog/base.html' %}

{% block page_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}catalog/css/home.css"/>
{% endblock %}

{% block page_js %}
    <script src="{{ STATIC_URL }}catalog/js/home.js"></script>
{% endblock %}

{% block content %}
    <h1>Home page</h1>
    <h2></h2>
    <ul>
        {% for block in block_list %}
            <li>
                {{ block.title }}
                <ul>
                    {% for category in block.categories.all %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}